<div class="jumbotron">
  <h1>SMAN 1 Batujajar Inventory</h1>
  <p class="lead">Aplikasi pelacakan inventaris</p>
  {{#if user}}
    <h4>Selamat datang {{ user.displayName }}!</h4>
    <p>Gunakan navigasi di atas untuk memulai.</p>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Klik di sini untuk masuk</a>
  {{/if}}
</div>
